### import data from API

In [60]:
import pandas as pd
import requests

In [17]:
response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=1bfff28f349bb5666cbac112e782672a&langage=en-US&page=1")

In [21]:
df = pd.DataFrame(response.json()['results'])[['id','title','release_date','overview','popularity','vote_average']]

In [37]:
df

,id,title,release_date,overview,popularity,vote_average
0,278,The Shawshank Redemption,1994-09-23,Imprisoned in the 1940s for the double murder ...,48.422,8.708
1,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",48.586,8.689
2,1356039,Counterattack,2025-02-27,When a hostage rescue mission creates a new en...,110.879,8.610
3,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,25.980,8.570
4,424,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,25.518,8.567
5,389,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...,19.003,8.549
6,129,Spirited Away,2001-07-20,"A young girl, Chihiro, becomes trapped in a st...",24.783,8.538
7,19404,Dilwale Dulhania Le Jayenge,1995-10-20,"Raj is a rich, carefree, happy-go-lucky second...",13.573,8.520
8,155,The Dark Knight,2008-07-16,Batman raises the stakes in his war on crime. ...,44.406,8.500
9,497,The Green Mile,1999-12-10,A supernatural tale set on death row in a Sout...,24.301,8.505
10,496243,Parasite,2019-05-30,"All unemployed, Ki-taek's family takes peculia...",37.722,8.502
11,680,Pulp Fiction,1994-09-10,"A burger-loving hit man, his philosophical par...",30.839,8.500
12,372058,Your Name.,2016-08-26,High schoolers Mitsuha and Taki are complete s...,25.460,8.487
13,122,The Lord of the Rings: The Return of the King,2003-12-17,As armies mass for a final battle that will de...,41.484,8.481
14,13,Forrest Gump,1994-06-23,A man with a low IQ has accomplished great thi...,27.685,8.468
15,429,"The Good, the Bad and the Ugly",1966-12-22,While the Civil War rages on between the Union...,19.521,8.462
16,346,Seven Samurai,1954-04-26,A samurai answers a village's request for prot...,10.651,8.500
17,769,GoodFellas,1990-09-12,"The true story of Henry Hill, a half-Irish, ha...",20.107,8.457
18,157336,Interstellar,2014-11-05,The adventures of a group of explorers who mak...,60.185,8.452
19,12477,Grave of the Fireflies,1988-04-16,"In the final months of World War II, 14-year-o...",0.023,8.452

In [39]:
response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=1bfff28f349bb5666cbac112e782672a&langage=en-US&page=5")

In [43]:
df1 = pd.DataFrame(response.json()['results'])[['id','title','release_date','overview','popularity','vote_average']]

In [55]:
df1

,id,title,release_date,overview,popularity,vote_average
0,533514,Violet Evergarden: The Movie,2020-09-18,As the world moves on from the war and technol...,7.412,8.300
1,975,Paths of Glory,1957-10-25,A commanding officer defends three scapegoats ...,6.382,8.259
2,637920,Miracle in Cell No. 7,2019-10-10,"Separated from his daughter, a father with an ...",7.170,8.300
3,10376,The Legend of 1900,1998-10-28,The story of a virtuoso piano player who lives...,4.910,8.300
4,8587,The Lion King,1994-06-15,"Young lion prince Simba, eager to one day beco...",36.209,8.255
5,29259,Le Trou,1960-03-18,Four prison inmates have been hatching a plan ...,4.475,8.300
6,670,Oldboy,2003-11-21,"With no clue how he came to be imprisoned, dru...",18.301,8.253
7,630566,Clouds,2020-10-09,Young musician Zach Sobiech discovers his canc...,4.893,8.200
8,572154,Rascal Does Not Dream of a Dreaming Girl,2019-06-15,"In Fujisawa, Sakuta Azusagawa is in his second...",5.267,8.246
9,1160164,TAYLOR SWIFT | THE ERAS TOUR,2023-10-13,The cultural phenomenon continues on the big s...,8.186,8.200
10,995133,"The Boy, the Mole, the Fox and the Horse",2022-12-25,"The unlikely friendship of a boy, a mole, a fo...",7.217,8.245
11,447362,Life in a Year,2020-11-27,A 17 year old finds out that his girlfriend is...,8.648,8.245
12,508965,Klaus,2019-11-08,When Jesper distinguishes himself as the Posta...,7.556,8.243
13,527641,Five Feet Apart,2019-03-14,Seventeen-year-old Stella spends most of her t...,12.904,8.241
14,504253,I Want to Eat Your Pancreas,2018-09-01,After his classmate and crush is diagnosed wit...,7.285,8.200
15,299534,Avengers: Endgame,2019-04-24,After the devastating events of Avengers: Infi...,30.301,8.240
16,25237,Come and See,1985-10-17,The invasion of a village in Byelorussia by Ge...,8.456,8.200
17,299536,Avengers: Infinity War,2018-04-25,As the Avengers and their allies have continue...,64.750,8.237
18,490132,Green Book,2018-11-16,"Tony Lip, a bouncer in 1962, is hired to drive...",24.938,8.200
19,265177,Mommy,2014-09-19,A peculiar neighbor offers hope to a recent wi...,5.214,8.200

In [53]:
df.shape

(20, 6)

In [57]:
df1.to_csv('movies.sv')